::-webkit-scrollbar {
    display: none;
}

.program-list-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Encabezado de la lista */
  .program-list-heading {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Lista de programas */
  .program-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Tarjeta de programa */
  .program-card {
    width: calc(33.33% - 20px); /* Ancho de cada tarjeta */
    margin-bottom: 30px;
    border-radius: 20px;
    background: #fff; /* Color de fondo predeterminado */
    padding: 20px;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff; /* Sombra neumórfica */
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
  }
  
  /* Tarjeta seleccionada */
  .program-card.selected {
    background: #007bff; /* Color de fondo seleccionado */
    color: #fff; /* Color de texto seleccionado */
  }
   
  .program-card:hover {
    transform: translateY(-5px); 
  }
   
.program-content {
    margin-top: 20px;
    color: #333; 
  } 
.program-name {
    font-weight: bold;
    font-size: 20px; 
    transition: color 0.3s ease; 
  }
   
  .program-description {
    font-size: 14px; 
    color: #666; 
    margin-top: 10px;
    transition: color 0.3s ease;
  }
   
  .program-icon {
    margin-bottom: 10px;
    color: #007bff;
    top: 4px;
    transition: color 0.3s ease;
    position: relative;
  }
  
  /* Tarjeta seleccionada */
  .program-card.selected .program-content {
    color: #fff;
  }
  
  /* Tarjeta seleccionada - Icono de descarga */
  .program-card.selected .program-icon {
    color: #fff; 
  }

  .program-card.selected .program-description {
    color: #fff;
  }

  .kj-cod-ga{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 1pc;   
  }

  .download-button{
    position: fixed;
    top: 50%;
    right: 0;
    height: 5pc;
    width: 5pc;
    background-color: #278fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px 0px 0px 50px;
    border: none;
    cursor: pointer;
  }